:8080 {
	root * .
	encode gzip
	file_server

	handle_path /css/* {
		root * ./css
		file_server
	}
	handle_path /js/* {
		root * ./js
		file_server
	}
	handle_path /pages/* {
		root * ./pages
		file_server
	}

	handle_errors {
		rewrite * /pages/404.html
		file_server
	}

	# Logging
	log {
		output stdout
		format console
	}
}
